body {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 750px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px 3px 5px 10px;
}

#noOfCardsIn {
    width: 100px;
}

.card-table {
    background-image: url("../img/bg-green-felt.jpg?v=20171027-2");
    background-repeat: repeat;
    min-height: 205px;
    width: 100%;
}

.card {
    /*background: no-repeat -5px -5px/1394% url("../img/cards.png");*/
    background-color: #ffffff;
    background-image: url("../img/cards.png?v=20171030-1");
    background-size: 1394%;
    background-repeat: no-repeat;
    border: 1px dotted #000;
    border-radius: 4px;
    height: 175px;
    margin: 5px 0;
    padding: 4px;
    width: 125px;
}

.card div {
    display: none;
    /*reveal names*/
    /*display: block;*/
}

#version {
	font-style: italic;
}


@media (max-width:768px) {
    body {
        margin: 15px;
    }

    .wrapper {
        width: 100%;
    }

    .grid-wrapper {
         grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:450px) {
    .grid-wrapper {
         grid-template-columns: 1fr;
    }
}